.app{
  height: 100vh;
  background: lightblue;
}

.tweet{
  display: flex; 
  flex-direction: column;
  justify-content: space-around;
  align-items: center; 
  

  height: 300px; 
  width: 300px;

  background:white; 
}
