*{
    background: rgb(198, 215, 233); 
    
}


.elements{
    
    display: inline-flex; 
    flex-direction: row;

    align-items: flex-end;    
}

.text{
    text-align: center; 
    border: solid 2px; 
    padding:  5px;  
}

h2{
    width: 80px; 
    margin: 0 auto; 
    justify-content: center; 
    align-items: center;   
}


.center{
    position: absolute;
    top: 50%;
    left: 43%;
    margin-top: -50px;
    margin-left: -50px;
    width: 100px;
    height: 100px;
}



